.mi-boton-container {
    position: absolute;
    right: 10%;
    height: 50px;
    top: 90px;
    width: 40vw;
    border-radius: 8px;
    background-color: #5D54A3;
    display: inline-block;
    padding: 20px; /* Puedes ajustar según sea necesario */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .mi-boton {
    border: none;
    position: relative;
    top: -20px;
    width: 614px;
    left: -20px;
    height: 50px;
    text-align: center;
    background: linear-gradient(to right, #fff 200px);
    background-clip: text;
    color: transparent;
   
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: border-color 0.3s ease; /* Efecto de transición para el cambio de color del borde */
  }
  
  .blanco {
    color: #fff; /* Color blanco */
  }
  
  .mi-boton:hover {
    border-color: #fff;
  }
  
  @media only screen and (max-width: 600px){
    .mi-boton-container{
      left: 35px;
      top: 300px;
      height: 60px;
      width: 300px;
    }

    .mi-boton{
      z-index: 1;
      top: -21px;
      width: 300px;
      left: -20px;
      height: 60px;
    }
  }